################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/dce4ba44-b1f1-44cb-8506-63594b94cc89.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/fc8256ce-55f5-4c99-8ff4-c56603ab5d26.vsidx
