################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/dce4ba44-b1f1-44cb-8506-63594b94cc89.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/fc8256ce-55f5-4c99-8ff4-c56603ab5d26.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/3c149ae3-5436-4ac0-b9ab-9e7ab80d9ede.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/74f4a80a-f5c0-446a-9fc7-8087385f389a.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/89cadee7-8164-4a31-9a7e-8ecc8d210857.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/c3b967c8-90b7-4e05-8a59-36f8961a0206.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/e0708084-bdf7-4a70-98e2-8244f6037010.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/f4585b09-9d03-4107-9b2d-10ab45b8a7cb.vsidx
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/v17/.suo
/Examen_Final_Grupo5/.vs/Examen_Final_Grupo5/FileContentIndex/2549ea0a-85f4-4079-a3eb-65eb313c9596.vsidx
/Examen_Final_Grupo5/CapaDatos/obj/Debug/CapaDatos.csproj.AssemblyReference.cache
/Examen_Final_Grupo5/CapaDatos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examen_Final_Grupo5/CapaNegocio/obj/Debug/CapaNegocio.csproj.AssemblyReference.cache
/Examen_Final_Grupo5/CapaNegocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examen_Final_Grupo5/CapaPresentacion/obj/Debug/CapaPresentacion.csproj.AssemblyReference.cache
/Examen_Final_Grupo5/CapaPresentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examen_Final_Grupo5/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examen_Final_Grupo5/CapaPresentacion/FrmRegistro_Usuario.cs
/Examen_Final_Grupo5/CapaDatos/ConexionBD.cs
/.vs/commit/v17/.wsuo
